configuration {
  modi: "window,run";
  font: "mono 18";
  show-icons: true;
  case-sensitive: false;
  combi-modi: "window,run";
  theme: "solarized";
  drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]  >  <span weight='light' size='small'><i>{exec}</i></span>";
  columns: 1;
}
